CoVoiturage-Spring-WS/CoVoiturage-Localisation-WS/src/main/webapp/WEB-INF/xsd/CoVoiturageLoc.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://iaws/ws/contractfirst/localisation" xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="CoVoiturage" type="exem:CoVoiturageType" xmlns:exem="http://iaws/ws/contractfirst/localisation"/>

    <xs:complexType name="personnelType">
		<xs:all>
			<xs:element type="xs:string" name="nom" />
			<xs:element type="xs:string" name="prenom" />
			<xs:element name="mail" >
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:pattern value="([A-Za-z0-9.])+@univ-tlse3\.fr" />
				</xs:restriction>
	        </xs:simpleType>
	        </xs:element>
			<xs:element type="xs:string" name="adresse" />
		</xs:all>
		<xs:attribute type="xs:int" name="id" />
	</xs:complexType>
	
    <xs:complexType name="CoVoiturageType">
    <xs:sequence>
      <xs:element type="exem:personnelType" name="personnel" xmlns:exem="http://iaws/ws/contractfirst/localisation"/>
    </xs:sequence>
  </xs:complexType>

    <xs:element name="CoVoiturageRequestLoc" type="exem:CoVoiturageRequestType" xmlns:exem="http://iaws/ws/contractfirst/localisation"/>

    <xs:complexType name="CoVoiturageRequestType">
        <xs:all>
            <xs:element type="xs:string" name="userid" />
			<xs:element type="xs:double" name="rayonvoisinage" />
        </xs:all>
    </xs:complexType>
</xs:schema>